@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Data is retrieved from json web service http://agl-developer-test.azurewebsites.net/people.json. Data displays list of all the cats in alphabetical order under a heading of the gender of their owner.</p>
