@model IEnumerable<AGL_ProgrammingChallenge.Models.PetOutput>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <p class="lead">Below data is retrieved from json web service <a href="http://agl-developer-test.azurewebsites.net/people.json" class="btn btn-primary btn-lg">http://agl-developer-test.azurewebsites.net/people.json &raquo;</a><br /> Data displays list of all the cats in alphabetical order under a heading of the gender of their owner. </p>

</div>


<div class="col-sm-6">
    <ul >
        @foreach (var group in Model.GroupBy(item => item.OwnerGender))
        {
            <li class="list-group-item list-group-item-info">
               <strong> @Html.DisplayFor(itemgender => group.Key) </strong>
                <ul class="list-group">
                    @foreach (var item in group)
                    {
                        if (item.pets != null)
                        {
                            foreach (var pet in item.pets.OrderBy(petorder => petorder.name))
                            {
                                <li class="list-group-item list-group-item-info">@Html.DisplayFor(petname => pet.name)<span class="badge badge-primary badge-pill">@pet.type</span></li>
                            }
                        }
                    }

                </ul>
            </li>
        }
    </ul>
</div>


